@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: black;

  font-family: VT323;
  color: RGB(255 236 62);
  text-shadow: 2px 2px 10px rgb(188, 131, 22), 0 0 1em rgb(188, 131, 22),
    0 0 0.2em rgb(188, 131, 22);
}


