---
const linkedin: string = "https://linkedin.com/in/luis-manuel-soria-07a852318";
const github: string = "https://github.com/Raccooncito";
---

<footer>
  <ul>
    <li><a href={linkedin} target={"_blank"}>Linkedin</a></li>
    <li><a href={github} target={"_blank"}>Github</a></li>
  </ul>
</footer>

<style>
  footer {
    border-top: 3px solid rgb(218, 201, 54);
    box-shadow:
      1px 1px 10px rgb(188, 131, 22),
      0 0 1em rgb(188, 131, 22),
      0 0 0.2em rgb(188, 131, 22);
  }
  ul {
    list-style-type: none;
    display: flex;
    padding-right: 20px;
    gap: 20px;
    justify-content: right;
  }
  
  a {
    font-size: 25px;
    text-decoration: none;
    color: rgb(255 236 62);
    transition: all ease-out 0.1s;
  }

  a:hover {
    color: rgb(218, 201, 54);
  }
</style>
