---
import "../styles/screen.css";
---

<div class="screen">
  <img src=`/Portfolio/images/scanlines.png` alt="scanlines" class="scanlines" />
  <img src=`/Portfolio/images/bezel.png` alt="bezel" class="bezel" />
  <div class="content-wrapper">
    <div class="content">
      <slot />
    </div>
  </div>
</div>
